* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f7ff;
  color: #abaab8;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: "Euclid Circular B";
}

:root {
  --color-primary: #6577ff;
  --color-dark: #5768ea;
  --color-muted: #747b92;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: inherit;
  color: inherit;
  border: 0;
  border-radius: 10px;
  height: 44px;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  font-size: 12px;
}

p a {
  color: var(--color-primary);
}

.card {
  padding: 6px;
  height: 680px;
  width: 80%;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0 12px 80px rgba(95, 98, 255, 0.08);
}

.card-nav {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 96px;
  padding: 24px 0;
  margin-bottom: 12px;
}

.card-nav .active-bar {
  position: absolute;
  top: calc(100% - 4px);
  width: 33.33%;
  height: 4px;
  left: var(--active);
  transition: 0.4s ease-in-out;
}

.card-nav .active-bar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 60px;
  height: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--color-primary);
}

.card-nav li {
  flex: 1 1 auto;
  display: grid;
  place-items: center;
}

.card-nav li button.active {
  color: var(--color-dark);
}

.card-nav button {
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.card-nav button:not(.active):hover {
  opacity: 0.675;
  color: var(--color-dark);
}

.card-nav button i {
  font-size: 20px;
}

.card-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 180px;
  flex: 0 0 300px;
  border-radius: 28px;
  overflow: hidden;
  background: var(--color-primary);
}

.card-hero-inner {
  position: absolute;
  top: var(--hero, 0);
  left: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}

.card-hero-content {
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.card-hero-content div {
  flex: 1 0 auto;
}

h2,
h3 {
  text-align: center;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
}

.card-hero h2 {
  color: #f9f9f9;
  margin: 0 0 2px;
}

.card-hero h3 {
  color: #f9f9f9;
  opacity: 0.75;
  font-size: 13px;
}

.card-hero img {
  height: 180px;
  width: 35%;
  flex: 0 1 auto;
}

.card-form {
  position: relative;
  overflow: hidden;
  padding: 24px;
  height: 400px;
}

.card-form .forms {
  position: absolute;
  height: 100%;
  width: 200%;
  left: 0;
  top: 0;
  left: var(--forms, 0);
  display: flex;
  transition: 0.5s ease-in-out;
}

.card-form form {
  height: 400px;
  width: 100%;
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.card-form label {
  font-size: 13px;
  color: var(--color-muted);
}

.control {
  position: relative;
}

.control input {
  background: #f2f3fd;
  border: 0;
  border-radius: 10px;
  width: 100%;
  padding: 0 12px;
}

.control input:focus {
  outline-color: var(--color-primary);
}

.control input::placeholder {
  color: #bdbcd2;
}

.control input:focus ~ i {
  color: var(--color-dark);
}

.control i {
  color: var(--color-muted);
  position: absolute;
  top: 50%;
  right: 12px;
  translate: 0 -50%;
  transition: 0.3s;
}

.error-message {
  margin: 10px 0 15px;
  padding: 10px 15px;
  border-radius: 8px;
  background: #ffe5e5;
  color: #d60000;
  font-size: 14px;
  text-align: center;
}

.card-form form > button {
  padding: 12px 20px;
  color: #f9f9f9;
  border: 0;
  margin-top: 12px;
  background: var(--color-dark);
}

p.footer {
  opacity: 0.75;
}

.card.resizing .card-hero-inner,
.card.resizing .active-bar,
.card.resizing .forms {
  transition: none;
}

@media (width >= 690px) {
  .card {
    display: flex;
    align-content: stretch;
    width: 660px;
    height: 400px;
    padding: 0;
  }

  .card-nav {
    padding: 0;
  }

  .card-hero {
    margin: -30px 0;
    height: auto;
  }

  h2,
  h3 {
    display: block;
  }

  .card-hero img {
    height: auto;
    width: 100%;
  }

  .card-hero-content {
    height: 460px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card-hero-content div {
    flex: 0 0 auto;
  }

  .card-nav {
    width: 148px;
    height: 100%;
    align-self: stretch;
    flex-direction: column;
  }

  .card-nav .active-bar {
    position: absolute;
    top: 33.33%;
    left: 0;
    height: 33.33%;
    top: var(--active, 33.33%);
    transition: 0.4s ease-in-out;
  }

  .card-nav .active-bar::after {
    top: 50%;
    left: 0;
    translate: 0 -50%;
    width: 6px;
    height: 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card-form {
    height: 400px;
    width: 400px;
    padding: 0;
  }

  .card-form form {
    padding: 24px;
  }

  .card-form .forms {
    flex-direction: column;
    height: 200%;
    width: auto;
    left: auto;
    top: var(--forms, 0);
  }
}
